{% extends 'base.html.twig' %}

{% block title %}Edit ChatRoom{% endblock %}

{% block body %}
    <h1>Edit ChatRoom</h1>

    {{ include('chat_room/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_chat_room_index') }}">back to list</a>

    {{ include('chat_room/_delete_form.html.twig') }}
{% endblock %}
